<div class="jumbotron fluid">

    <div class="col-sm-12 col-md-12 wow fadeInDown">
        <h1 class="contactHeader">Contact Me</h1>
    </div>
    
    <div class="col-sm-12 col-md-12 wow fadeInDown">
        <p class="contactDesc">Let's collaborate together! I can get back to you with feedback and availability within 24 hours :)</p>
    </div>
    <center>
    <form action="">
    <label for="name">Please enter your first and last name: (optional)</label>
    <input type="text" name="company">

    <label for="usermail">Please enter your email address:</label>
    <input type="email" name="usermail" required>

    <label for="message">Please enter your message:</label>
    <textarea name="message" id="user-message" cols="30" rows="10"></textarea>

    <input type="submit" value="Send!" class="submit-button">
</form>
</center>
</div>