<pre>{{data}}</pre>

<h2>Oops! It looks like something went wrong :( Click back to safety to return to the home page!</h2>
<h3>

    {{data.status}}
</h3>
<h4>{{data.message}}</h4>
<img src="images/kitty.gif" id="errorGif">