<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasmina May - Interactive Media Designer</title>
    
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/css/mdb.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/juy8eja.css">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
  <!--animate .css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"
    integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />

</head>

<body>
<div class="container-fluid">
<header>
    <!--navigation-->
    <nav class="navbar navbar-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/">About |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact |</a>
                    </li>
                    
                </ul>
            </div>
            <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"></a>
        
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end navigation-->

        <div class="container-fluid">
            <center>
            <a href="/"><img src="images/ym_logo.png" class="mainLogo"></a>
            </center>
            <h1 id="name">YASMINA MAY</h1>
            <h2>Interactive Media Designer</h2>
        </div>
</header>
<main>


{{{ body }}}


</main>
</div>

<div class="jumbotron fluid">
            <center>
            <a href="/"><img src="images/ym_logo.png" class="footerLogo"></a>
            </center>
            <h2>© 2019 All Rights Reserved</h2>
        </div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Bootstrap JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/js/mdb.min.js"></script>
<!--main javascript-->
<script type="module" src="js/main.js"></script>
    <script type="text/javascript">
      // Animations initialization from wow JS
      new WOW().init();
    </script>



</body>

</html>