body{

    .error-page {
        text-decoration: underline;
        font-size: 30px;
        display: block;
        text-align: center;
        margin-top: 40px;
    
    
    }
}
.error-section {
    pre {
        
        font-size: 30px;
        text-decoration: none;
        text-align: center;
    }
    
}